<header>
    <div class="wrap">
        <nav>
            <ul>
                <li><a href="#home" title="Home">home</a></li>
                <li><a href="#sobre" title="Sobre">sobre</a></li>
                <li><a href="#servicos" title="Serviços">serviços</a></li>
                <li><a href="#galeria" title="Galeria">galeria</a></li>
                <li><a href="#contato" title="Contato">contato</a></li>
                <li><a title="Contato">51 3661.1818</a></li>
            </ul>
        </nav>
    </div>
    <div class="letter">
        <h1>Royal Ink</h1>
        <h2>Tattoo Parlor</h2>
        <figure></figure>
    </div>
    <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jPYZluJAO5I?rel=0&amp;controls=0&amp;showinfo=0&amp;start=7" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
</header>