<footer>
  <div class="container">
    <div class="left">
        <h2 class="downUp" animateOnScroll animationName="show">CONTATOS</h2>
        <ul class="downUp" animateOnScroll animationName="show">
          <li><strong>Endereço</strong> Av. Emancipação, Tramandaí /RS - Brasil</li>
          <li><strong>Fone</strong> 51 3661.1818</li>
          <li><strong>WhatsApp</strong> 51 99992.1818</li>
          <li><strong>E-mail</strong> fale@royalink.com</li>
        </ul>
    </div>
    <div class="middle">
        <h2 class="downUp" animateOnScroll animationName="show">FACEBOOK</h2>
        <div animateOnScroll animationName="show" class="downUp fb-page" data-href="https://web.facebook.com/RoyalInkTattooParlor/" data-width="350px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
    </div>
    <div class="right">
        <h2>INSTAGRAM</h2>
    </div>
  </div>
</footer>