<agm-map mapTypeId="roadmap" [zoom]="16" [latitude]="lat" [longitude]="lng" [styles]="styles">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="marker">
    </agm-marker>
</agm-map>
<div class="contato" id="contato">
  <div class="container">
      <div class="left">
          <h2 animateOnScroll animationName="show" class="downUp">ENTRE EM <span>CONTATO</span> OU <br>SOLICITE UM <span>ORÇAMENTO</span></h2>
          <p animateOnScroll animationName="show" class="downUp">
              Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgillaitollicil tua ludin dolor met quam accumsan ipsun. Dolore con dime netus lullam utlacusadipi scing ipsum molestie euismod lore
          </p>
          <ul class="social downUp" animateOnScroll animationName="show">
            <li><img src="../../assets/images/facebook-logo.png" alt="facebook-logo"></li>
            <li><img src="../../assets/images/instagram-logo.png" alt="linkedin-logo"></li>
            <li><img src="../../assets/images/linkedin-logo.png" alt="linkedin-logo"></li>
          </ul>
      </div>
      <div class="right">
          <form action="">
              <div class="downUp form-control" animateOnScroll animationName="show">
                  <input type="text" autocomplete="off" placeholder="Nome">
              </div>
              <div class="downUp form-control" animateOnScroll animationName="show">
                  <input type="text" autocomplete="off" placeholder="Telefone">
              </div>
              <div class="downUp form-control" animateOnScroll animationName="show">
                  <input type="text" autocomplete="off" placeholder="E-mail">
              </div>
              <div class="downUp form-control" animateOnScroll animationName="show">
                  <textarea class="downUp" animateOnScroll animationName="show" name="" id="" cols="30" rows="10" autocomplete="off" placeholder="Mensagem"></textarea>
              </div>
              <input class="downUp" animateOnScroll animationName="show" type="submit" value="ENVIAR">
            </form>
      </div>
  </div>
</div>