<div class="home" id="home">
    <h2 class="downUp" animateOnScroll animationName="show">HELLO THERE!</h2>
    <h3 class="downUp" animateOnScroll animationName="show">WELCOME TO OUR TATTOO SALON</h3>
    <figure class="downUp image-home" animateOnScroll animationName="show"></figure>
    <p animateOnScroll animationName="show" class="downUp">
        Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgillaitollicil tua ludin dolor met quam accumsan ipsun. Dolore con dime netus lullam utlacusadipi scing ipsum molestie euismod lore
    </p>
</div>

<app-sobre></app-sobre>
<app-galeria></app-galeria>
<app-contato></app-contato>