<div class="sobre" id="sobre">
  <div class="left">
    <figure class="downUp" animateOnScroll animationName="show">
      <img src="../../assets/images/perfil.jpg" alt="perfil">
    </figure>
  </div>
  <div class="right">
      <h2 class="downUp" animateOnScroll animationName="show">ABOUT MY STUDIO</h2>
      <p class="downUp" animateOnScroll animationName="show">
          Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgillaitollicil tua ludin dolor met quam accumsan ipsun. Dolore con dime netus lullam utlacusadipi scing ipsum molestie euismod lore
      </p>
      <p class="downUp" animateOnScroll animationName="show">
          Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgillaitollicil tua ludin dolor met quam accumsan ipsun. Dolore con dime netus lullam utlacusadipi scing ipsum molestie euismod lore
      </p>
      <br><br>
      <h3 class="downUp" animateOnScroll animationName="show">SÉRGIO ALEXANDRE <span>CLAUSSEN</span></h3>
      <p class="downUp" animateOnScroll animationName="show">
          Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgillaitollicil tua ludin dolor met quam accumsan ipsun. Dolore con dime netus lullam utlacusadipi scing ipsum molestie euismod lore
      </p>
  </div>
</div>