 <div class="top-galeria" id="galeria">
    <h2 animateOnScroll animationName="show" class="downUp">OUR WORK <span>GALLERY</span></h2>
    <p animateOnScroll animationName="show" class="downUp">
        Dolor nunc vule putateulr ips dol consem donec semp ertet laciniate ultricie upien disse comete dolo lectus fgillaitollicil tua ludin dolor met quam.
    </p>
</div>
<div class="galeria">
  <ul>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple1.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple1.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple1.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple1.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
      <li animateOnScroll animationName="show" class="downUp">
          <figure>
            <img src="../../assets/images/exemple.jpg" alt="">
            <figcaption>+</figcaption>
          </figure>
      </li>
  </ul>
</div>